body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
			animation: gradient 15s ease infinite;
			

}
.nom_prenom{
	background-color: purple;
}

.nom_prenom h1{
	text-align: center;
}

